body {
	margin:0;
	display: flex;
  	flex-direction: column;
	aling-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: #ffffff;





}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
	width: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
/* background do header */

.header {
	background-image: url("imagens/20240930_171716.jpg");
	width: 100%;
  	padding-top: 10px;
	position: relative;
    	opacity: 0.8;
	
	background-repeat: no-repeat;
  	background-attachment: relative;
 	background-position: 60% 42%; 
}

/* propriedades do logo */
.imglogo {
	height: 500px;
	width:	500px;
	opacity: 1.0;
	outline-color: #2ec4b6;
	outline-style: solid;
	box-shadow: 10px 10px 5px #ffbf69;
	background-color: white;
	

}

.imglogotex{
	vertical-align: center;
	color: black;
	position: absolute;
	top: 99%;
  	left: 35%;
	justify-content: center;
	display: block;
  	transform: translate(-10%, -40%);
	text-align: center;	
	padding: 20px;
}

/* caixa do logo */
.caixalogo {

	display: flex;
   	justify-content: center;
   	align-items: center;
  	height: 100%;


}



/* Apresentacao */
.div1 {
	
	width: 80%;
    	display: flex;
    	justify-content: center;
   	align-items: center;
    	flex-direction: column;
	padding-top: 50px;
	background: linear-gradient(to bottom, #ff9f1c 0%, #ffbf69 56%);
	height: 80%;
	margin: auto;
  	
}

.titulodescricao {
padding-top: 50px;
font-size: 40px;

}

.descricaosite {
	color: white;
	text-align: center;
	margin: auto;
	padding: 20px;
	font-family: "Anton SC", serif;
  	font-weight: 300;
  	font-style: normal;
	font-size: 30px;


}

/* Formulario */
.div2 {
	background-color: #cbf3f0;


	display: flex;
    	justify-content: center;
   	align-items: center;
    	flex-direction: column;
	width: 80%;
	height: 90%;
	margin: auto;
	padding: 5px;
	border: 15px #cbf3f0;
	

}



.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
    gap: 50px; /* Espaçamento entre as divs */
    padding: 10px;
    justify-content: center; /* Centraliza os itens no grid */
    align-items: center; /* Alinha verticalmente */
    max-width: 800px; /* Define uma largura máxima */
    margin: auto; /* Centraliza o grid na página */
	
}

.galeria img {
    width: 100%; /* Ajusta a largura da imagem ao tamanho do grid */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 10px; /* Opcional: adiciona bordas arredondadas */
	justify-content: center; 
}

.desc {
    margin-top: 5px;
    text-align: center; /* Centraliza o texto */
    font-size: 20px;
    color: #555;
justify-content: center; 
}


/* galeria div */
.div3 {

	background-color: #2ec4b6;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    height: 80%;
    margin: auto;
	
	

}
/* video x.x */

.div4 {
	width: 80%;
    	display: flex;
    	justify-content: center;
   	align-items: center;
    	flex-direction: column;
	padding-top: 50px;
	height: 80%;
	margin: auto;
	background-color: #ff9f1c;


}

/* mapa */

.div5 {
	width: 80%;
    	display: flex;
    	justify-content: center;
   	align-items: center;
    	flex-direction: column;
	padding-top: 50px;
	height: 80%;
	margin: auto;

	

background-color: #2ec4b6;


}

/* formulario */

.div6 {

	width: 80%;
    	display: flex;
    	justify-content: center;
   	align-items: center;
    	flex-direction: column;
	padding-top: 50px;
	height: 80%;
	margin: auto;

	background-color: #ffbf69;


}


/* rodape */
.rodape {

	width: 80%;
    	display: flex;
    	justify-content: center;
   	align-items: center;
    	flex-direction: column;
	padding-top: 50px;
	height: 80%;
	margin: auto;
	backgroun-color: pink;


}